<div  class="p-m-2">
    <div class="p-text-center selected-tooth p-shadow-2">
        <img src="assets/tooth.jpg" class="selected-tooth-img">
    <p>Tooth no: 11</p>
    <div class="p-pb-2">
        <p-dropdown [options]="prbType" [(ngModel)]="selectedPrb" optionLabel="name" placeholder="choose a problem type" >
        </p-dropdown>
    </div>
    </div>

</div>

<div  class="p-m-2">
    <div class="p-text-center selected-tooth p-shadow-2">
        <img src="assets/tooth.jpg" class="selected-tooth-img">
    <p>Tooth no: 11</p>
    <div class="p-pb-2">
        <p-dropdown [options]="prbType" [(ngModel)]="selectedPrb" optionLabel="name" placeholder="choose a problem type" >
        </p-dropdown>
    </div>
    </div>

</div>

