<div class="p-shadow-2 p-m-2" style="border-radius: 5px;">
<div class="upper-tooth">
    <div  class="p-d-flex p-jc-center">
        <div *ngFor="let element of adult_tooth_upper_left.reverse()" class="" [ngClass]="{'upper-border': element === 11}" (click)="tooth_selection(element, 'upper-left')" >
                    <div class="upper-tooth-left p-d-flex p-flex-column" [ngClass]="{'tab-active': tooths.includes(element)}">
                        <img src="assets/tooth.jpg" alt='tooth' class="tooth-content-img">
                        <span class="">{{element}}</span>
                    </div>
        </div>
        <div *ngFor="let element of adult_tooth_upper_right" (click)="tooth_selection(element, 'upper-right')">
            <div class="upper-tooth-right p-d-flex p-flex-column" [ngClass]="{'tab-active': tooths.includes(element)}">
                   <img src="assets/tooth.jpg" alt='tooth' class="tooth-content-img">
                <span class="">{{element}}</span>
            </div>
</div>


</div>
</div>

<div class="lower-tooth">
    <div  class="p-d-flex p-jc-center">
        <div *ngFor="let element of adult_tooth_lower_left.reverse()" [ngClass]="element === 31 ? 'lower-border': ''" (click)="tooth_selection(element, 'lower-left')">
            <div class="lower-tooth-left p-d-flex p-flex-column" [ngClass]="{'tab-active': tooths.includes(element)}">
                <img src="assets/tooth.jpg" alt='tooth' class="tooth-content-img">
                <span class="">{{element}}</span>
            </div>
                   
        </div>
        <div *ngFor="let element of adult_tooth_lower_right" (click)="tooth_selection(element, 'lower-right')">
            <div class="lower-tooth-right p-d-flex p-flex-column" [ngClass]="{'tab-active': tooths.includes(element)}">
                <img src="assets/tooth.jpg" alt='tooth' class="tooth-content-img">
            <span class="">{{element}}</span>
            </div>
            
    </div>
        </div>
</div>

</div>
