<div class="p-grid main-content">
    <div class="p-col-12 p-xl-4">
        <p-fieldset legend="Problem selection">
            <p-panel header="Select tooth/teeth" styleClass="tooth-panel">
                <app-tooth-element></app-tooth-element>
    
            </p-panel>
    
            <p-panel header="Selected tooth" styleClass="tooth-panel">
                <app-selected-tooth></app-selected-tooth>
    
            </p-panel>
        </p-fieldset> 
    </div>

    <div class="p-col-12 p-xl-8">
        <p-fieldset legend="Prescription">
            <div class="p-grid">
                <div class="p-col-12 p-xl-6">
                    <p-panel header="Complaint" styleClass="tooth-panel">
                        <ng-template pTemplate="icons">
                            <p-button type="text" (click)="display = true" icon="pi pi-plus"></p-button>
                            <p-sidebar [(visible)]="display" position="right">
                                Content
                            </p-sidebar>
                        </ng-template>
                        <div style="height: 7vh;">

                        </div>
                    </p-panel>

                    <p-panel header="History" styleClass="tooth-panel">
                        <ng-template pTemplate="icons">
                            <p-button type="text" (click)="display = true" icon="pi pi-plus"></p-button>
                            <p-sidebar [(visible)]="display" position="right">
                                Content
                            </p-sidebar>
                        </ng-template>
                        <div style="height: 7vh;">

                        </div>
                    </p-panel>

                    <p-panel header="Findings" styleClass="tooth-panel">
                        <ng-template pTemplate="icons">
                            <p-button type="text" (click)="display = true" icon="pi pi-plus"></p-button>
                            <p-sidebar [(visible)]="display" position="right">
                                Content
                            </p-sidebar>
                        </ng-template>
                        <div style="height: 7vh;">

                        </div>
                    </p-panel>

                    <p-panel header="Investigation" styleClass="tooth-panel">
                        <ng-template pTemplate="icons">
                            <p-button type="text" (click)="display = true" icon="pi pi-plus"></p-button>
                            <p-sidebar [(visible)]="display" position="right">
                                Content
                            </p-sidebar>
                        </ng-template>
                        <div style="height: 7vh;">

                        </div>
                    </p-panel>
                </div>

                <div class="p-col-12 p-xl-6">
                    <p-panel header="Medication" styleClass="tooth-panel">
                        <ng-template pTemplate="icons">
                            <p-button type="text" (click)="display = true" icon="pi pi-plus"></p-button>
                            <p-sidebar [(visible)]="display" position="right">
                                Content
                            </p-sidebar>
                        </ng-template>
                        <div style="height: 7vh;">

                        </div>
                    </p-panel>

                    <p-panel header="Advance" styleClass="tooth-panel">
                        <ng-template pTemplate="icons">
                            <p-button type="text" (click)="display = true" icon="pi pi-plus"></p-button>
                            <p-sidebar [(visible)]="display" position="right">
                                Content
                            </p-sidebar>
                        </ng-template>
                        <div style="height: 7vh;">

                        </div>
                    </p-panel>

                    <p-panel header="Follow-up" styleClass="tooth-panel">
                        <ng-template pTemplate="icons">
                            <p-button type="text" (click)="display = true" icon="pi pi-plus"></p-button>
                            <p-sidebar [(visible)]="display" position="right">
                                Content
                            </p-sidebar>
                        </ng-template>
                        <div style="height: 7vh;">

                        </div>
                    </p-panel>

                    <p-panel header="Referral" styleClass="tooth-panel">
                        <ng-template pTemplate="icons">
                            <p-button type="text" (click)="display = true" icon="pi pi-plus"></p-button>
                            <p-sidebar [(visible)]="display" position="right">
                                Content
                            </p-sidebar>
                        </ng-template>
                        <div style="height: 7vh;">

                        </div>
                    </p-panel>
                </div>
            </div>
          

        </p-fieldset>
    </div>
    
   </div>