<div class="p-grid main-content">
    <div class="p-col-12 p-xl-6">
        <p-fieldset legend="Problem selection">
            <p-panel header="Select tooth/teeth" styleClass="tooth-panel">
                <app-tooth-element></app-tooth-element>
    
            </p-panel>
    
            <!-- <p-panel header="Selected tooth" styleClass="tooth-panel">
                <div *ngIf='toothItems.length; else noElement'>
                    <div class="p-grid">
                    <div *ngFor="let items of toothItems;index as i"  class="p-m-1">
                           <div class="p-col-12" [ngClass]="{'p-shadow-2':  i === (toothItems.length - 1)}" (click)="changeItem($event)"  >
                            <app-selected-tooth  [values]="items.tooth_number" ></app-selected-tooth>   
                           </div>

                       </div>
                        
                    </div>

                </div>

                <ng-template #noElement>
                   <h4 class="p-text-center">No items.Please select tooth first</h4> 
                  </ng-template>
                
               
    
            </p-panel> -->
        </p-fieldset> 
    </div>

    <div class="p-col-12 p-xl-6">
     <app-prescribe-element [prescribe_no] = "toothItems[toothItems.length - 1]"></app-prescribe-element>
    </div>
    
   </div>