<div class="p-grid">
<div class="p-col-12 p-md-6">
  <div class="p-fluid p-formgrid p-grid main-div">
    <div class="p-field p-col-12 p-md-6">
      <label for="city">Patient's name</label>
      <input type="text" pInputText [(ngModel)]="name" class="input-form" placeholder="Name" />
    </div>

    <div class="p-field p-col-12 p-md-3">
      <label for="zip">Age</label>
      <input type="number" pInputText  [(ngModel)]="age" placeholder="age" class="input-form" />
    </div>

    <div class="p-field p-col-12 p-md-3">
      <label for="state">Gender</label>
      <p-dropdown [options]="gender" [(ngModel)]="selectedGender" optionLabel="name" placeholder="choose a gender">
      </p-dropdown>
    </div>

  </div>
</div>
</div>

<app-body-element></app-body-element>