<div class="p-container complain-form">

    <form (ngSubmit)="onSubmit()" [formGroup]="dataForm">
        <div class="p-grid">
            <div class="p-col-12 complain-form-add">
                <input type="text" pInputText id="complainName" formControlName="complainName" class="form-control" />

                
               
                <button pButton type="button" label="add complain" styleClass="complain-add-button"
                    (click)="addNewComplain()"></button>


            </div>
            <span
            *ngIf="!dataForm.get('complainName').valid && dataForm.get('complainName').touched"
            class="help-block">Please specify your problem</span>
            

            <hr>

            
          

        </div>

        <div style="height: 80vh;" >
            <div *ngIf="products.length">
                <table class="table-main">
                    <thead>
                      <th>Name</th>
                      <th>For</th>
                      <th>Duration</th>
                      <th>Note</th>
                    </thead>
                    <tbody formArrayName="problems">
                        <tr class="p-text-center" *ngFor="let items of controls; let i= index" [formGroupName]="i">
                            <td ><input type="text" pInputText  formControlName="name" /> </td>
                            <td><p-dropdown [options]="time"  editable="true" optionLabel="name" class="form-control" formControlName="for"></p-dropdown></td>
                            <td><p-dropdown [options]="duration" optionLabel="name" formControlName="duration"></p-dropdown></td>
                            <td><input type="text" pInputText  formControlName="note"/></td>
                          </tr>
                    
                    <!-- <tr>
                      <td>Eve</td>
                      <td>Jackson</td>
                      <td>94</td>
                      <td>50</td>
                    </tr> -->
                </tbody>
                  </table>
            </div>

        </div>

        


       
        
    </form>

</div>