.complain-form{
    .complain-form-add{
        display: flex;
        justify-content: center;
        align-items: center;
       input[type='text']{
        //    width: 80%;
           margin: 5px;
           font-size: 1rem;

       }

       .p-button{
           padding: 13px;
       }
       .p-button-label{
        color: #fff;
       }

    }
    
    .complain-list{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // width: 80%;
        background-color: rgb(103,58,183);
        
    }

    
    .ng-star-inserted{
        // background-color: rgb(103,58,183);
        
    }
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  .help-block{
      width: 100%;
      text-align: center;
      color: red !important;
  }

  .table-main{
      width: 100%;
      thead > th{
        //   background-color: rgb(103,58,183);
        //   color: #fff;
      }

    //   tr > td{
    //       display: flex;
    //       justify-content: center;
    //       flex-direction: column;
    //   }
  }



// :host {
//     ::ng-deep .p-panel-header span {
//         font-size: 1rem;
//         color:white;

//     }
// }